body{background-image: url(registr.png);  background-size: cover; font-size: 105%; color: white; line-height: 65%;}
form{margin-left: 470px;}
.enter{margin-left: 70px;}
.enter.sec{margin-left: 100px;}
