body{background-image: url(registr.png);  background-size: cover; font-size: 100%; color: black; line-height: 65%; font-weight:900;}
form{margin-left: 45%;}
.enter{margin-left: 7%;}
/*.enter.sec{margin-left: 100px;}*/
#bg{left:20px; top:20px;}